.video__iframes{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: -50px; /*в брифе не указано, на сколько видео должно заходить на границу соседней секции, поэтому сделала на глазок*/
}
